<!--The whole content below can be removed with the new code.-->
<nav class="navbar navbar-inverse" >   
    <div class='container' >
        <div class="nav navbar-header">
          <a class="navbar-brand" [routerLink]="['/']">MoviesDB</a>
          <button type="button" class="navbar-toggle" 
            data-toggle="collapse" 
            data-target="#myCollapsingList">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="myCollapsingList" >
          <ul class="nav navbar-nav navbar-right">
            <form [formGroup]='movieForm' (ngSubmit)="movieFind(movieForm.value)" class="navbar-form navbar-left" role="search">
                    <div id='searchBox' class="form-group">
                        <input type="text" formControlName = 'movieSearch' class="form-control" placeholder="Search Movies">
                        <span id='searchIcon' class="glyphicon glyphicon-search search-icon"></span>
                    </div>
                    <button type="submit"  class="btn btn-danger">Go</button>
            </form>
            <li><a  [routerLink]="['/about']">About</a></li>

            <li class="dropdown">
              <a  class="dropdown-toggle " data-toggle="dropdown" 
                            role="button" 
                            aria-haspopup="true" 
                            aria-expanded="false">Movies <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a [routerLink]="['/movies/popular']">Popular</a></li>
                <li><a [routerLink]="['/movies/upcoming']">Upcoming</a></li>
                <li><a [routerLink]="['/movies/now_playing']">Now Playing</a></li>      
                <li><a [routerLink]="['/movies/top_rated']">Top Rated</a></li>
			  </ul>
            </li>
			 
            <form  class="navbar-form navbar-left " *ngIf='!loggedIn'>
              <div class="form-group">
                <input type="text" [(ngModel)]='user.email' class="form-control" placeholder="email" name='email'>
                <input type="password" [(ngModel)]='user.password' class="form-control" placeholder="password" name='password'>
              </div>
              <button type="button" (click)='loginUser()' class="btn btn-primary">login</button>
              <button type="button" (click)='registerModal()' class="btn btn-success">register</button>
            </form>
            <form class="navbar-form navbar-left loggedInForm" *ngIf='loggedIn'>
              <div class="form-group form-inline">
                <ul class="nav navbar-nav navbar-right">
                  <li><a [routerLink]="['/movies/favourites']">{{ authUser.email  }}</a></li>
                  <li><a [routerLink]="['/movies/favourites']">My Favorites</a></li>
                </ul>
              </div>
              <button  type="submit" (click)='logoutUser()' class="btn btn-danger btn-xs">logout</button>
            </form>
             
            
          </ul>
      </div>
    </div>
    <section id="myModal" class="modal fade {{fadeIn}}" *ngIf='!loggedIn'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="closeModal()" aria-hidden="true">&times;</button>
                <h1 class="modal-title">Registration</h1>
                  <p>Please register with an email and password. Once registered you will be able to
                     save your favourite movies. </p>
            </div>
            <div class="modal-body">
              <div class='container-fluid'>
                <div class="row">                   
                   <div class="col-md-12">
                    <form [formGroup]="registerForm" (ngSubmit)="registerUser(registerForm.value)" class="navbar-form navbar-left " *ngIf='!loggedIn'>
                    
					  <div class="form-group" 
							[ngClass]="{
									  'has-danger': registerForm.controls['email'].invalid && registerForm.controls['email'].dirty, 
									  'has-success': registerForm.controls['email'].valid && registerForm.controls['email'].dirty 
									}">
                        <input type="text" formControlName='email' class="form-control" placeholder="email" name='email' >
					  </div>
					  <div class="form-group">
						<input type="password" formControlName='password' class="form-control" placeholder="password" name='password' >
					  </div>
                      <button type="submit"  [disabled]="!registerForm.valid" class="btn btn-success">Register</button>
                      <br/><br/>
					  <div class="alert" *ngIf="!registerForm.controls['password'].valid && registerForm.controls['password'].touched">You must specify a password that's between 8 and 20 characters.</div> 
					  <div class="alert" *ngIf="!registerForm.controls['email'].valid && registerForm.controls['email'].touched">{{ titleAlert }}</div>
					  	
					</form>
                    <div   *ngIf='loggedIn'>
                      <p>Registration for {{ <!-- registerUser.email --> }} Successful !!</p>    
                    </div> 
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="closeModal()">Close</button>               
            </div>
        </div>
    </div>
  </section>
  </nav>
 
<router-outlet></router-outlet>


